<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
</head>
<body>
    <div id="app">

        <!-- <li v-for= "usuario in usuarios">
            {{ usuario.name }}
        </li> -->

        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Username</th>
                <th>Email</th>
                <th>Website</th>
            </tr>

            <tr v-for="usuario in usuarios">
                <td> {{ usuario.id }} </td>
                <td> {{ usuario.name }} </td>
                <td> {{ usuario.username }} </td>
                <td> {{ usuario.email }} </td>
                <td> {{ usuario.website }} </td>
            </tr>

        </table>

        <pre>{{ $data }}</pre>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        const vm = new Vue({  
            created() {
                var url = "https://jsonplaceholder.typicode.com/users";
                fetch(url) 
                    .then(response => response.json())
                        .then(response => this.usuarios = response);
            },          
            el: "#app",
            data: {
                usuarios: [],
            },
        });

        Vue.config.devtools = true;
    </script>
    </script>
</body>
</html>